[submodule "deployment_scripts/puppet/modules/java"]
	path = deployment_scripts/puppet/modules/java
	url = https://github.com/puppetlabs/puppetlabs-java
[submodule "deployment_scripts/puppet/modules/scaleio"]
	path = deployment_scripts/puppet/modules/scaleio
	url = https://github.com/adrianmo/puppet-scaleio
